.people-love-numbers {
    padding-bottom: 80px;
}

.lower-statistics-people-love {
    line-height: 1.5;
    width: calc(100%/ 4 -3%);
}

.people-love-statistics-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.people-love-statistics-numbers {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Oleo Script Swash Caps', display;
    color: #ba2a22;
}

.people-love-words {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oleo Script Swash Caps', display;
    color: #0a0909;
}

@media(max-width:765px) {
    .lower-statistics-people-love {
        width: 100%;
    }
}